:root {
    --theme-blue: #55bae2;
    --theme-orange: #f3b542;
    --theme-links: #004ffa;
    --transition-duration: 0.1s;
    --default-background-color: #e9dcdc;
    --default-card-color: rgb(226, 210, 210);
    --default-border-color: #cebebe;
    --default-text-color: black;
}

body {
    font-family: Space Grotesk, sans-serif;
    background-color: var(--default-background-color);
    color: var(--default-text-color);
}

.link-style {
    text-decoration: none;
    background-image: linear-gradient(to right, var(--default-text-color), var(--default-text-color));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

.link-style:hover,
.link-style:focus {
    background-size: 100% 0.1em;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.sticky-nav {
    background-color: var(--default-border-color);
}

.dark-side {
    --default-background-color: #242526;
    --default-card-color: #292929;
    --default-border-color: #363636;
    --default-text-color: white;
}

.link-color {
    color: var(--default-text-color)
}

.link-color-theme {
    color: var(--theme-links)
}

.slidein-card {
    background-color: var(--default-card-color);
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s;
}

.slidein {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.contact-form,
.contact-form:focus {
    background-color: var(--default-background-color);
    border-color: var(--default-border-color);
    color: var(--default-text-color);
}

.rounded-item {
    background-color: var(--default-border-color);
}

.theme-image {
  display: none;
}

body:not(.dark-side) .light-image {
  display: block;
}

body.dark-side .dark-image {
  display: block;
}